body {
    margin: 0;
    padding: 0;
}

.top-right-button {
    position: fixed;
    top: 50px;
    right: 10px;
    padding: 10px 20px;
    /*Change this to your desired button background color */
    color: #fff; /* Change this to your desired button text color */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    /* border:2px solid red; */
    
}

.top-right-button:hover {
    background-color: #0056b3; /* Change this to your desired button background color on hover */
}
